/* ads css start */

#ad-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
  }
  
  #ad-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    position: relative;
  }
  
  #close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight:900;
    background: none;
    border: none;
    cursor: pointer;
  }
  /* ads css end */